.list-map-container {
    background-color: var(--Neutral-100, #F5F5F5);
    
}
.station-container {
    width: 40%;
    height: 710px;
    overflow-y: auto;  
}
.station-count {
    color: var(--Neutral-900, #232323);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
    margin: 20px;  
}
.station-card {
    border-radius: 8px;
    background: var(--Neutral-0, #FFF);
    /* Drop shadow */
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    margin: 20px;  
}
.station-card h2 {
    color: var(--Neutral-900, #232323);
    /* H2 */
    font-family: "Calibre";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    letter-spacing: -0.14px;  
    margin-bottom: 0px;
    margin-top: 0px;
}
.station-card p {
    color: var(--Neutral-900, #232323);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
}
.station-card h3 {
    color: var(--Christine-Orange-christine-orange-500, #ED560E);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
    display: none;
}
.station-list ul {
    list-style-type: none;
    padding: 0;
}
.spacer {
    width: 12.5%;
}
li {
    color: var(--Neutral-700, #616161);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
}
.times {
    display: flex;
    flex-direction: row;
}
.day{
    width: 100px;
    margin-right: 60px;
}

#open {
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--tertiary-green, #00872F);
    color: var(--tertiary-green, #00872F);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#open-24 {
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--tertiary-green, #00872F);
    color: var(--tertiary-green, #00872F);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#closed {
    display: inline-flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--tertiary-red, #D70015);
    color: var(--tertiary-red, #D70015);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#opening-hours {
    display: inline-flex;
    margin-left: 8px;
    display: none;
}
#phone {
    color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    /* P SemiBold */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.08px;
    margin-left: 4px;
}
.phone-div {
    display: flex;
    flex-direction: row;
}
.fuel-types {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.fuel-price{
    margin-right: 8px;
}
.fuel-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.fuel-item{
    display: flex;
    align-items: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.maps-button {
    display: none;
    width: 179px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    background: var(--Neutral-0, #FFF);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
    /* Reset anchor defaults */
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
}

.maps-button:hover {
    background-color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    color: var(--Neutral-0, #FFF);
    transition: all 0.2s ease;
    cursor: pointer;
}

.maps-button:visited {
    color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
}

.maps-button:visited:hover {
    color: var(--Neutral-0, #FFF);
}
.directions-button {
    display: flex;
    width: 179px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid var(--Christine-Orange-christine-orange-600, #D84E0D);
    background: var(--Neutral-0, #FFF);
    color: var(--Christine-Orange-christine-orange-600, #D84E0D);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
}
.directions-button:hover {
    background-color: var(--Christine-Orange-christine-orange-600, #D84E0D);
    color: var(--Neutral-0, #FFF);
    transition: all 0.2s ease;
    cursor: pointer;
}

.directions-button:visited {
    color: var(--Christine-Orange-christine-orange-600, #D84E0D);
}

.directions-button:visited:hover {
    color: var(--Neutral-0, #FFF);
}
.see-more-button {
    display: flex;
    width: 179px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    background: var(--Neutral-0, #FFF);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
}
.see-more-button:hover {
    background-color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
    color: var(--Neutral-0, #FFF);
    transition: all 0.2s ease;
    cursor: pointer;
}

.see-more-button:visited {
    color: var(--Lucky-Point-Blue-lucky-point-blue-500, #1E196A);
}

.see-more-button:visited:hover {
    color: var(--Neutral-0, #FFF);
}
.hours-list {
    display: none;
}
.opening-hours-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.opening-hours-black {
    margin-left: 8px;
}
.station-address {
    margin-top: 1px;
    margin-bottom: 0px;
}
.chevron-icon {
    cursor: pointer;
}
@media (max-width: 768px) {
    .spacer {
        display: none;
    }
    .station-container {
        display: none;
    }
}
